@model TeacherDetailsViewModel

@{
    ViewData["Title"] = "Teacher Details";
    var photoPath = "~/uploads/" + (Model.Teacher.ProfilePhotoPath ?? "default-user.png");
    DateTime dob = Convert.ToDateTime(Model.Teacher.DateOfBirth);
}

<!-- MAIN CONTENT --> 
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 clear-padding-xs">
			<h5 class="page-title"><i class="fa fa-user-secret"></i>TEACHER DETAILS</h5>
			<div class="section-divider"></div>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <div class="col-sm-4">
                <div class="my-msg dash-item">
                    <h6 class="item-title"><i class="fa fa-address-book-o"></i>PERSONAL INFORMATION</h6>
                    <div class="inner-item">
                        <div class="profile-intro">
                            <div class="col-xs-4 col-sm-12 col-md-4 clear-padding">
                                <img src="@photoPath" alt="user" asp-append-version="true"/>
                            </div>
                            <div class="col-xs-8 col-sm-12 col-md-8">
                                <h5>@Model.Teacher.Firstname  @Model.Teacher.Lastname</h5>
                                <strong><h6>ID#: @Model.Teacher.Id</h6></strong>
                                <h6>Username: @Model.Teacher.IdentityUser.UserName</h6>
                                <h6>Email: @Model.Teacher.IdentityUser.Email</h6> 
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="profile-details">
                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>FIRST NAME</span></strong>
                                    <p>@Model.Teacher.Firstname</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>LAST NAME </span></strong>
                                    <p>@Model.Teacher.Lastname</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>PHONE NUMBER</span></strong>
                                    <p>@Model.Teacher.PhoneNumber</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>ADDRESS </span></strong>
                                    <p>@Model.TeacherContactInformation.Address1</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>


                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>GENDER</span></strong>
                                    <p>@Model.Teacher.Gender</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>RELIGION </span></strong>
                                    <p>@Model.Teacher.Religion</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>MIDDLE NAME</span></strong>
                                    <p>@Model.Teacher.Middlename</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>DATE OF BIRTH </span></strong>
                                    <p>@dob.ToString("D") </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <div class="my-msg dash-item">
                        <h6 class="item-title"><i class="fa fa-tags"></i>ADMIN ROLES</h6>
                        <div class="inner-item">
                            
                                
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

</div>

<div class="menu-togggle-btn">
    <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
</div>