@model TeacherDetailsViewModel

@{
    ViewData["Title"] = "Teacher Details";
    var photoPath = "~/uploads/" + (Model.Teacher.ProfilePhotoPath ?? "default-user.png");
    DateTime dob = Convert.ToDateTime(Model.Teacher.DateOfBirth);
}

<!-- MAIN CONTENT --> 
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 clear-padding-xs">
			<h5 class="page-title"><i class="fa fa-user-secret"></i>TEACHER DETAILS</h5>
			<div class="section-divider"></div>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <div class="col-sm-4">
                <div class="my-msg dash-item">
                    <h6 class="item-title"><i class="fa fa-address-book-o"></i>PERSONAL INFORMATION</h6>
                    <div class="inner-item">
                        <div class="profile-intro">
                            <div class="col-xs-4 col-sm-12 col-md-4 clear-padding">
                                <img src="@photoPath" alt="user" asp-append-version="true"/>
                            </div>
                            <div class="col-xs-8 col-sm-12 col-md-8">
                                <h5>@Model.Teacher.Firstname  @Model.Teacher.Lastname</h5>
                                <strong><h6>ID#: @Model.Teacher.Id</h6></strong>
                                <h6>Username: @Model.Teacher.IdentityUser.UserName</h6>
                                <h6>Email: @Model.Teacher.IdentityUser.Email</h6> 
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="profile-details">
                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>FIRST NAME</span></strong>
                                    <p>@Model.Teacher.Firstname</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>LAST NAME </span></strong>
                                    <p>@Model.Teacher.Lastname</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>PHONE NUMBER</span></strong>
                                    <p>@Model.Teacher.PhoneNumber</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>ADDRESS </span></strong>
                                    <p>@Model.TeacherContactInformation.Address1</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>


                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>GENDER</span></strong>
                                    <p>@Model.Teacher.Gender</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>RELIGION </span></strong>
                                    <p>@Model.Teacher.Religion</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>MIDDLE NAME</span></strong>
                                    <p>@Model.Teacher.Middlename</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>DATE OF BIRTH </span></strong>
                                    <p>@dob.ToString("D") </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"> 
                    <div class="my-msg dash-item">
                        <h6 class="item-title"><i class="fa fa-home"></i>CONTACT INFORMATION</h6>
                        <div class="inner-item">
                            <div class="profile-intro">
                            <div class="col-xs-4 col-sm-12 col-md-4 clear-padding">
                                <!-- <img src="@photoPath" alt="user" asp-append-version="true"/> --> 
                                <i class="fa fa-home" style="font-size:100px"></i>
                            </div>
                            <div class="col-xs-8 col-sm-12 col-md-8">
                                <h5>@Model.TeacherContactInformation.Address1</h5>
                                <strong><h6>Zip Code#: @Model.TeacherContactInformation.ZipCode</h6></strong>
                                <h6>Home Phone: @Model.TeacherContactInformation.HomePhone</h6>
                                <h6>Alternate Email: @Model.TeacherContactInformation.AlternateEmailAddress</h6> 
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="profile-details">
                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>NEXT OF KIN FIRST NAME</span></strong>
                                    <p>@Model.TeacherContactInformation.NextOfKinFirstname</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>NEXT OF KIN LAST NAME </span></strong>
                                    <p>@Model.TeacherContactInformation.NextOfKinLastname</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>RELATION TO NEXT OF KIN</span></strong>
                                    <p>@Model.TeacherContactInformation.RelationToNextOfKin</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>NEXT OF KIN PHONE NUMBER </span></strong>
                                    <p>@Model.TeacherContactInformation.PhoneOfNextOfKin</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>


                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>NEXT OF KIN EMAIL</span></strong>
                                    <p>@Model.TeacherContactInformation.EmailOfNextOfKin</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>COUNTRY </span></strong>
                                    <p>@Model.TeacherContactInformation.Country.CountryName</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="detail-row">
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>STATE </span></strong>
                                    <p>@Model.State</p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 clear-padding">
                                    <strong><span>DATE OF BIRTH </span></strong>
                                    <p>@dob.ToString("D") </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                                
                        </div>
                    </div>
                </div>
              

            <!-- Higher Education -->
             <div class="col-sm-4"> 
                    <div class="my-msg dash-item">
                        <h6 class="item-title"><i class="fa fa-mortar-board"></i>HIGHER EDUCATION INFORMATION</h6>
                        <div class="inner-item">
                            <div class="profile-intro">
                                <div class="col-xs-4 col-sm-12 col-md-4 clear-padding">
                                    <!-- <img src="@photoPath" alt="user" asp-append-version="true"/> --> 
                                    <i class="fa fa-graduation-cap" style="font-size:100px"></i>
                                </div>
                                <div class="col-xs-8 col-sm-12 col-md-8">
                                    <h5>@Model.TeacherHighestDegree.DegreeAttained</h5>
                                    <strong><h6>CGPA#: @Model.TeacherHighestDegree.CGPA</h6></strong>
                                    <h6>Name of Institution: @Model.TeacherHighestDegree.NameOfInstitution</h6>
                                    <h6>From:  @Convert.ToDateTime(Model.TeacherHighestDegree.YearEnrolled).ToString("D") </h6>
                                    <h6>To:  @Convert.ToDateTime(Model.TeacherHighestDegree.YearOfGraduation).ToString("D")</h6> 
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                <div class="profile-details"> 
                                <!-- Other Degrees -->
                
                                    <div class="my-msg dash-item">
                                        <h6 class="item-title"><i class="fa fa-mortar-board"></i>OTHER DEGREES</h6>
                                        <div class="inner-item">
                                            <div class="profile-intro">
                                                <div class="col-xs-4 col-sm-12 col-md-4 clear-padding">
                                                    <!-- <img src="@photoPath" alt="user" asp-append-version="true"/> --> 
                                                    <i class="fa fa-graduation-cap" style="font-size:100px"></i>
                                                </div>
                                                <div class="col-xs-8 col-sm-12 col-md-8">
                                                    <h5>@Model.TeacherOtherDegree.DegreeAttained</h5>
                                                    <strong><h6>CGPA#: @Model.TeacherOtherDegree.CGPA</h6></strong>
                                                    <h6>Name of Institution: @Model.TeacherOtherDegree.NameOfInstitution</h6>
                                                    <h6>From:  @Convert.ToDateTime(Model.TeacherOtherDegree.YearOfEnrollement).ToString("D") </h6>
                                                    <h6>To:  @Convert.ToDateTime(Model.TeacherOtherDegree.YearOfGraduation).ToString("D")</h6>  
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>    
                                            </div>
                                        </div> 
                                <!-- Other Degrees -->
                                     
                                </div>     
                            </div>
                    </div>
             </div> 
            <!-- End Higher  Education -->

            
        </div>
    </div>

</div>

<div class="menu-togggle-btn">
    <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
</div>