@model AllRolesViewModel


@{
    ViewBag.Title = "All Roles";
}
<style>
    #alert{
        position: fixed;
        top: 60px;
        right: -120px;
        transition: all 1s ease;
        opacity: 0;
    }

    #alert.on{
        top: 60px;
        right: 60px;
        opacity: 1;
    }
</style>

<!-- MAIN CONTENT --> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <h5 class="page-title"><i class="fa fa-users"></i>ALL ROLES</h5>
                <div class="section-divider"></div>
            </div>
        </div>
        

 
    <div class="alert alert-success alert-dismissable" id="alert" role="alert">
       <strong>Updated Successfully!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
 

@if(Model.Roles.Any())
{ 
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <div class="col-lg-12">
                    <div class="dash-item first-dash-item">
                        <h6 class="item-title"><i class="fa fa-tags"></i>ROLES</h6>
                        <div class="inner-item">
                            <div class="chart">
		                        <a class="save btn btn-success" asp-action="addroles" asp-controller="userroles">
                                    <i class="fa fa-plus"> </i>
                                    <span><strong>  ADD NEW ROLE </strong></span>
                                </a>
                            </div>
                            <div class="clearfix" style="margin-bottom: 25px;"></div>
                            <table id="attendenceDetailedTable" class="display responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-user"></i>ID</th>
                                        <th><i class="fa fa-id-card"></i>NAME</th>
                                        <!-- <th><i class="fa fa-book"></i>CLASS</th>
                                        <th><i class="fa fa-cogs"></i>SECTION</th>
                                        <th><i class="fa fa-puzzle-piece"></i>ROLL #</th>
                                        <th><i class="fa fa-phone"></i>CONTACT #</th>
                                        <th><i class="fa fa-envelope-o"></i>EMAIL</th> -->
                                        
                                        <th><i class="fa fa-tasks"></i>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var roles in Model.Roles)
                                    {
                                        <tr>
                                            <td>@roles.Id</td>
                                            <td>@roles.Name</td>
                                            <!-- <td>STD 8</td>
                                            <td>PTH08A</td>
                                            <td>PTH05A01</td>
                                            <td>0987654321</td>
                                            <td>lennore@gmail.com</td> -->
                                            <td class="action-link">
                                                <a href="javascript:void(0)" class="edit" onclick="editUser('@roles.Id')"
                                                    title="Edit"  >
                                                    <i class="fa fa-edit"></i>
                                                 </a>
                                                <a class="delete" href="javascript:void(0)" title="Delete" 
                                                data-toggle="modal" data-target="#deleteDetailModal_@roles.Id">
                                                <i class="fa fa-remove"></i></a>

                                                <a href="javascript:void(0)" onclick="editUserRole('@roles.Id')" class="edit" title="Add or Remove user from role"  >
                                                    <i class="fa fa-pencil"></i>
                                                 </a>
                                            </td>
                                        </tr> 
                                        <input id="userRoleId" hidden value="@roles.Id" />


                                         <!-- Delete Modal -->
                                        <div id="deleteDetailModal_@roles.Id" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title"><i class="fa fa-trash"></i>DELETE STUDENT</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h3 class="text-danger text-center"><i class="fa fa-exclamation-triangle"> </i>
                                                             Are you sure you want to<strong> Delete this Role? </strong>
                                                        </h3>
                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="table-action-box">
                                                            <a type="button" class="btn btn-success" onclick="ConfirmDelete('@roles.Id')"><i class="fa fa-check"></i>YES</a>
                                                            <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>



                                    } 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

    

    <!--Update User role Modal -->
    <div id="editUserRole" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-trash"></i>UPDATE USER ROLE DATA</h4>
                </div>
                <div class="modal-body">
                    <div class="table-action-box">
                        <a href="#" class="save"><i class="fa fa-check"></i>YES</a>
                        <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <div class="table-action-box">
                        <a type="button" class="btn btn-success" onclick="updateUserRoleData()"><i class="fa fa-check-square-o"></i>UPDATE DATA</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    
    <!--Edit details modal-->
    <div id="editDetailModal" class="modal fade" role="dialog"> 
        <div class="modal-dialog">
        <!-- Modal content--> 
        <div class="modal-content"> 
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT ROLE DETAILS</h4>
        </div> 
        <div class="modal-body dash-form">
            <div class="col-sm-6">
                <label  class="clear-top-margin" id="roleId"><i class="fa fa-user"></i>ROLE ID</label>
                <input disabled />
            </div> 
            <div class="col-sm-6">
                <label class="clear-top-margin" id="rolename"><i class="fa fa-user"></i>ROLE NAME</label>
                <input />
                <span asp-validation-for="RoleName" id="validation-message"></span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <div class="table-action-box">
                <a type="button" class="btn btn-success" onclick="updateUserData()"><i class="fa fa-check-square-o"></i>EDIT</a>
                <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
            </div>
        </div>
        <div class="clearfix"></div>
        </div>
    </div>  
 </div>
  

}
else
{
    <div class="chart-title">
		<h4 class="bottom-title">NO ROLES TO DISPLAY</h4>
	</div>
    <div class="chart-legends">
		<a class="btn btn-large" asp-action="addroles" asp-controller="userroles"><span>ADD NEW ROLE</span></a> 
	</div>
}
 
 <div class="menu-togggle-btn">
    <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
 </div>

@section Scripts
{
    <script src="~/dashboard/assets/js/Custom.js"></script> 
}
 