@model AllCategories
@{
    ViewData["Title"] = "All Categories";
}
 
<style>
    #alert{
        position: fixed;
        top: 60px;
        right: -120px;
        transition: all 1s ease;
        opacity: 0;
    }

    #alert.on{
        top: 60px;
        right: 60px;
        opacity: 1;
    }
</style>
<div class="main-content" id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <h5 class="page-title"><i class="fa fa-map-pin"></i>ALL CATEGORIES</h5>
                <div class="section-divider"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <!-- Add department -->
                <div class="col-sm-4">
                    <partial name="addnewcategory"/> 
                </div>
                <!-- Add category -->

                <!-- All categoryS -->
                <div class="col-sm-8">
                    <div class="dash-item first-dash-item">
                        <h6 class="item-title"><i class="fa fa-map-pin"></i>ALL CATEGORIES</h6>
                        <div class="inner-item">
                            <table id="attendenceDetailedTable" class="display responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-hashtag"></i>ID</th>
                                        <th><i class="fa fa-tag"></i>TITLE</th>
                                        <th><i class="fa fa-briefcase"></i>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(Model.Categories.Any())
                                    {
                                        foreach(var category in Model.Categories)
                                        {
                                            <tr>
                                                <td>@category.Id</td>
                                                <td>@category.Title</td> 
                                                <td class="action-link">
                                                    <a class="edit" href="javascript:void(0)" onclick="UpdateData('@category.Id')" title="Edit category Data"><i class="fa fa-edit"></i></a>
                                                    <a class="delete" href="#" title="Delete" data-toggle="modal" data-target="#deleteDetailModal_@category.Id"><i class="fa fa-remove"></i></a>
                                                    <a href="javascript:void(0)" onclick="updateteachercategory('@category.Id')" class="edit" title="Add or Remove teacher from this category"  >
                                                    <i class="fa fa-pencil"></i>
                                                 </a>
                                                </td>
                                            </tr>  

                                            <!-- Delete Modal -->
                                            <div id="deleteDetailModal_@category.Id" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title"><i class="fa fa-trash"></i>DELETE CATEGORY</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form asp-action="deletecategory" asp-controller="category" id="deleteForm">
                                                                    <h3 class="text-danger text-center"><i class="fa fa-exclamation-triangle"> </i>
                                                                         Are you sure you want to<strong> Delete @category.Title ? </strong>
                                                                    </h3>
                                                            </form> 
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="modal-footer">
                                                             <div class="table-action-box">
                                                                <a href="javascript:void(0)" class="save" onclick="DeleteData('@category.Id')"><i class="fa fa-check"></i>YES</a>
                                                                <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4"><h4 class="text-center"><b>No CATEGORY Data to Display</b></h4></td>
                                        </tr>
                                    } 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
     
    
    
    
    <!--Edit category modal-->     
            <div id="editResourceData" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT category DATA</h4>
                        </div> 
                        <div class="modal-body dash-form">
                        <form asp-action="updatecategory" asp-controller="category" id="editForm">
                        </form>
                        </div> 
                        <div class="modal-footer">
                            <div class="table-action-box">
                                <a type="button" class="btn btn-success" onclick="UpdatePostData()"><i class="fa fa-check"></i>SAVE</a>
                                <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
    <!-- Edit category modal	-->


     <!--Update User role Modal -->
    <div id="updateformdata" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-trash"></i>UPDATE USER ROLE DATA</h4>
                </div>
                <div class="modal-body"> 
                    <!-- modal goes here -->
                </div>
                <div class="modal-footer">
                    <div class="table-action-box">
                        <a type="button" class="btn btn-success" onclick="addteachertocategory()"><i class="fa fa-check-square-o"></i>UPDATE DATA</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
 
 <div class="menu-togggle-btn">
    <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
 </div>

@section Scripts
{
    <script src="~/dashboard/assets/js/Custom.js"></script> 
}
 
 