@model EditRoleViewModel
<form method="post" asp-area="Administrator" asp-controller="UserRoles" asp-action="EditRoles" id="editForm">
    <div class="form-group row">
        <label asp-for="@Model.Id" class="col-sm-2 form-label"><i class="fa fa-hashtag"></i>ID</label> 
        <div class="col-sm-12">
            <input asp-for="@Model.Id" class="col-sm-4 form-control" disabled />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.RoleName" class="col-sm-2 form-label"><i class="fa fa-user"></i>ROLE NAME</label>
        <div class="col-sm-12">
            <input id="userRoleName" asp-for="@Model.RoleName" class="col-sm-4 form-control" required/>
            <span asp-validation-for="@Model.RoleName" class="text-danger"></span> 
        </div> 
    </div>
</form> 